@charset "UTF-8";

body{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: 20px;
}

h1{
    color: teal;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
}